// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn {
  @extend %font-sans-regular;
  @include font-values(15,15);
  letter-spacing: 0.04em;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  transition: all .6s ease-in-out;
  &:hover {
     background: #fff;
     color: #000;
  }
}
