// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

form {
  margin-top: $pad;
  p {
    display: none;
  }
}
fieldset {
  border: none;
  margin-top: $pad;
  padding: 0;
  text-align: left;
  legend {
    @extend %font-sans-bold;
  }
}
legend {
  display: none;
}
.field {
  margin-bottom: $pad;
  select, input[type=text], input[type=number], input[type=email], textarea {
    border: 1px solid $text-color;
    padding: $pad/2;
    width: 100%;
  }
  input, textarea {
    color: $dark-grey;
  }
  textarea {
    height: 150px;
  }
  select {
    border: 0;
    border: 1px solid $text-color;
    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
  }
}
.heading {
  text-align: left;
  margin-right: 15px;
}
button {
  background: $dark-grey;
  border: 1px solid $brand-color;
  color: #fff;
  margin: 0 auto;
  padding: $pad/2;
  width: 100%;
  text-transform: uppercase;
  &:hover {
    background: $brand-color;
  }
}
