// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.u-hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.u-visible {
  display: block;
}
.u-invisible {
  display: none;
}
// other helpers
.u-centered {
  text-align: center !important;
}
.u-left {
  text-align: left !important;
}
.u-right {
  text-align: right !important;
}
.u-padding {
  padding: $pad !important;
}
.u-margin {
  margin: $pad !important;
}
.u-no-bullets {
  list-style: none;
  margin: 0;
  padding: 0;
}
.u-border-bottom {
  border-bottom: 1px solid $text-color;
  margin-bottom: $pad*2;
  &:last-of-type {
    border: none;
  }
}
