/**
 * Basic typography style for copy text
 */
 // FONT CLASSES

%font-sans-regular {
  font-family: $regular-font-stack;
  font-weight: 300;
  font-style: normal;
  @include alias;
}

%font-sans-light {
  font-family: $regular-font-stack;
  font-weight: 200;
  font-style: normal;
  @include alias;
}

%font-sans-bold {
  font-family: $regular-font-stack;
  font-weight: 700;
  font-style: normal;
  @include alias;
}

%font-alt-regular {
  font-family: $alt-font-stack;
  font-style: normal;
  font-weight: 400;
  @include alias;
}

%font-alt-bold {
  font-family: $alt-font-stack;
  font-style: normal;
  font-weight: 700;
  @include alias;
}

body {
  background: #fff;
  color: $text-color;
  @extend %font-sans-regular;
  @include font-values(24,27);
}

h1, h2, h3, h4, h5, h6 {
  @extend %font-alt-bold;
  margin-top: 0;
  margin-bottom: $pad;
}
h1 {
  @include font-values(30,30);
}
h2 {
  @include font-values(27,27);
}
h3 {
  @include font-values(24,24);
}
h4 {
  @include font-values(21,21);
}
.small {
  @include font-values(14,17);
}
.medium {
  @include font-values(16,18);
  line-height: 1.3;
}
.big {
  @include font-values(24,27);
  line-height: 1.3;
}
.huge {
  @include font-values(27,30);
  line-height: 1.3;
}
p {
  margin-top: 0;
  margin-bottom: $pad;
}
ul {
  padding-left: 15px;
}
strong {
  font-weight: bold;
}
// Typography helpers
.bold {
  @extend %font-alt-bold;
}
.sans {
  @extend %font-sans-regular;
}
.serif {
  @extend %font-alt-regular;
}
.upper {
  text-transform: uppercase;
}
