{# set values for the navigation #}
{# singles #}

{# set home = craft.entries.section('homepage').first() #}

{% set section = craft.app.request.getSegment(1) %}
{% set subSection = craft.app.request.getSegment(2) %}
{% set subSectionUri = section ~ '/' ~ subSection %}
{% set subSubSection = craft.app.request.getSegment(3) %}
{% set subSubSectionUri = section ~ '/' ~ subSection ~ '/' ~ subSubSection %}

<nav class="nav nav--main">

  <div class="nav-slider">

    <ul>
      <li>
        <a class="effect-underline" href="/">Home</a>
      </li>
    </ul>

  </div>

</nav>
