{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="home" href="{{ siteUrl }}" />

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/assets/images/favicon.png" />

  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">

  {% do view.registerCssFile("/assets/css/main.css") %}

</head>

<body>

  {% if craft.app.config.general.doAnalytics %}
    {% include "includes/_analytics" %}
  {% endif %}

  <div class="container">
    <header class="header">
      <div class="inner">
        <div class="header__flex">
          <div class="header__item">
            {% include "includes/_main-nav" %}
          </div>
          <div class="header__item" aria-hidden="true">
          </div>
          <div class="header__item">
            <h1 class="logo"><a href="{{ siteUrl }}"><img src="/assets/images/logo.svg" alt="Logo" /></a></h1>
          </div>
      </div>
    </header>

    <main id="content" role="main">
        {% block content %}
          <p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
          <p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
        {% endblock %}
    </main>

    <footer class="footer">
        <div class="inner">

        </div>
    </footer>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/min/jquery-3.2.1-min.js">\x3C/script>')</script>
  <script type="text/javascript" src="/assets/js/min/site-min.js"></script>

  <script type="text/javascript" id="cookiebanner" data-position="bottom" data-message="We use cookies to improve your browsing experience. Read our privacy policy for more information: " data-linkmsg="Cookie Policy" data-moreinfo="{% if privacy is defined and privacy is not empty %}{{ privacy.url }}{% endif %}" src="/assets/js/min/cookiebanner-min.js"></script>

</body>
</html>
