/// Regular font family
/// @type List
$regular-font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

/// Code (monospace) font family
/// @type List
$alt-font-stack: "Times New Roman", serif !default;


/// Main brand color
/// @type Color
$brand-color: rgb(6, 76, 149) !default;

/// Light grey
/// @type Color
$light-grey: rgb(219, 219, 219) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(119, 120, 118) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(76, 76, 76) !default;

/// Highlight color
$highlight-color: rgb(210, 247, 236) !default;

/// Copy text color
/// @type Color
$text-color: $dark-grey;

$text-color-alt: rgb(145, 135, 131) !default;

$bg-color-alt: rgb(52, 46, 48) !default;

$white: rgb(255, 255, 255) !default;
$black: rgb(0, 0, 0) !default;


/// Standard padding

$pad: 1rem;


/// Container's maximum width
/// @type Length
$max-width: 2400px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
/// @see {mixin} respond-to
$breakpoints: (
  'mob': (max-width: 586px),
  'small': (max-width: 870px),
  'medium': (max-width: 1024px),
  'wide': (max-width: 1800px)
) !default;


/// Grid variables

$col-count: 24 !default;
$gutter:    1rem !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
