// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  background: transparent;
  padding: $pad;
  width: 100%;
}
.header__flex {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
}
.header__item {
  display: block;
}
