/// Nav layout
.nav {
  ul {
    margin: 0 0 $pad 0;
    padding: 0;
  }
  li {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: $pad;
    }
  }
}
.nav-btn {
    display: none;
    margin-top: 0;
    height: 30px;
    width: 27px;
    position: absolute;
    left: $pad*1.5;
    top: 72px;
    cursor: pointer;
    text-transform: uppercase;
    img {
      margin: 7px 0;
    }

    #nav-icon {
      width: 27px;
      height: 30px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      z-index: 30;
    }

    #nav-icon span {
      background: #000000;
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
      top: 0px;
    }

    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
      top: 6px;
    }

    #nav-icon span:nth-child(4) {
      top: 12px;
    }

    #nav-icon.open span:nth-child(1) {
      top: 12px;
      width: 0%;
      left: 50%;
    }

    #nav-icon.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #nav-icon.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon.open span:nth-child(4) {
      top: 12px;
      width: 0%;
      left: 50%;
    }
  }
